<!DOCTYPE html>
<!-- A photo gallery -->

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="UTF-8">
    <title>My <%= @gallery.name %> Gallery</title>
  </head>
  <body>
    <h1><%= @gallery.name %></h1>
    <form method="POST" action="/galleries/<%= @gallery.id %>">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete this gallery indefinitely">
    </form>
    <h2><a href="/galleries/<%= @gallery.id %>/edit">Edit</a></h2>
    <p><a href="/galleries/<%= @gallery.id %>/images/new">Add an image to this gallery</a></p>
    <% @images.each do |image| %>
      <img src="<%= image.url %>" alt="<%= image.name %>">
    <% end %>
  </body>
</html>


